<template lang="pug">
.comfortable-way__item
  .comfortable-way__item-title(
    v-if="section.title"
    ) {{ section.title }}

  .comfortable-way__item-text(
    v-if="section.content"
    v-html="section.content"
  )

  a.btn(
    v-if="section.button_url && section.button_caption && section.button_url.indexOf('#') === 0"
    :href="section.button_url"
    @click.prevent="scrollTo(section.button_url)"
  ) {{ section.button_caption }}

  a.btn(
    v-else-if="section.button_url && section.button_caption && section.button_url.indexOf('http') === 0"
    :href="section.button_url"
    rel="nofollow"
    target="_blank"
  ) {{ section.button_caption }}

  nuxt-link(
    v-else-if="section.button_url && section.button_caption"
    :to="section.button_url"
  ) {{ section.button_caption }}
</template>

<script>
export default {
  name: 'JetsharingSectionRow',

  methods: {
    scrollTo (blockId) {
      if (blockId.indexOf('#') === 0) {
        blockId = blockId.substr(1)
      }
      const el = document.getElementById(blockId)
      if (el) {
        el.scrollIntoView({ block: 'start', behavior: 'smooth' })
      }
    }
  },

  props: {
    section: {
      type: Object,
      required: true
    }
  }
}
</script>
