<!-- Канонический app.html для локальной разработки -->
<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head>
  {{ HEAD }}

<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-64316140-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

<script type="text/javascript" >
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(66798508, "init", {
  clickmap:true,
  trackLinks:true,
  accurateTrackBounce:true,
  webvisor:true
});
</script>

<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '400343737830442');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=400343737830442&ev=PageView&noscript=1"/></noscript>
</head>

<body {{ BODY_ATTRS }}>
{{ APP }}

<noscript><div><img src="https://mc.yandex.ru/watch/66798508" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body></html>
