<template lang="pug">
.flight-widget.flight-widget--with-checkboxes
  form.flight-widget-form(
    autocomplete="off"
    v-if="!successMessage"
  )
    .flight-widget-form__inputs
      .flight-widget-form__single
        .flight-widget-form__item.icon-plane_up(
          :class="{ 'is-filled': form.origin_text }"
        )
          transition(name="fade")
            .flight-widget-form__dropdown(
              :class="{ 'is-active': showAirportOrigin }"
              v-show="showAirportOrigin"
            )
              .flight-widget-form__list-container.flight-widget-form__list-container--countries
                ul.flight-widget-form__list.flight-widget-form__list--countries
                  li(
                    v-for="airport in airportsOrigin"
                    :key="airport.id"
                    @click="selectAirportOrigin(airport)"
                  )
                    span {{ airport | renderAirport }}

          .flight-widget-form__placeholder {{ $t('booking.departure') }}

          .flight-widget-form__input
            input(
              type="text"
              @focus="inputFocus($event, 'origin')"
              @blur="inputBlur($event)"
              v-debounce="delay"
              v-model.lazy="form.origin_text"
              name="origin"
            )

          button.flight-widget-form__input-clear.icon-close(
            type="button"
            v-if="form.origin_text"
            @click="clearFeld('origin')"
          )

        .flight-widget-form__item.icon-plane_down(
          :class="{ 'is-filled': form.destination_text }"
        )
          transition(name="fade")
            .flight-widget-form__dropdown(
              :class="{ 'is-active': showAirportDestination }"
              v-show="showAirportDestination"
            )
              .flight-widget-form__list-container.flight-widget-form__list-container--countries
                ul.flight-widget-form__list.flight-widget-form__list--countries
                  li(
                    v-for="airport in airportsDestination"
                    :key="airport.id"
                    @click="selectAirportDestination(airport)"
                  )
                    span {{ airport | renderAirport }}

          .flight-widget-form__placeholder {{ $t('booking.arrival') }}

          .flight-widget-form__input
            input(
              type="text"
              @focus="inputFocus($event, 'destination')"
              @blur="inputBlur($event)"
              v-debounce="delay"
              v-model.lazy="form.destination_text"
              name="destination"
            )

          button.flight-widget-form__input-clear.icon-close(
            type="button"
            v-if="form.destination_text"
            @click="clearFeld('destination')"
          )

        .flight-widget-form__item.flight-widget-form__item--date.icon-calendar(
          :class="{ 'is-filled': form.flight_date || dateFilled }"
        )
          .flight-widget-form__placeholder {{ $t('booking.flightDate') }}
          client-only
            date-picker.flight-widget-form__input(
              format="D MMM, dd"
              :language="locale"
              :monday-first="true"
              :disabled-dates="disabledDates"
              maximum-view="day"
              @opened="datepickerOpened()"
              @closed="datepickerClosed()"
              v-model="form.flight_date"
              ref="datepicker"
            )

          button.flight-widget-form__input-clear.icon-close(
            type="button"
            v-if="form.flight_date"
            @click="form.flight_date = null"
          )

        .flight-widget-form__item.flight-widget-form__item--checkboxes
          label.flight-widget__checkbox
            input(
              type="checkbox"
              v-model="form.flight_type"
              value="shuttle"
            )
            span {{ $t('booking.flightTypes.shuttle') }}

          label.flight-widget__checkbox
            input(
              type="checkbox"
              v-model="form.flight_type"
              value="sharing"
            )
            span {{ $t('booking.flightTypes.sharing') }}

      button.btn.flight-widget-form__button(
        type="button"
        @click="scrollToResults"
      ) {{ $t('forms.buttons.search') }}

  .flight-widget__reset-filter(
    @click="resetFilter"
  ) {{ $t('forms.buttons.resetFilter') }}
</template>

<script>
import 'moment/locale/ru'
import ClickOutside from 'vue-click-outside'
import { formMixin } from '@/mixins/forms'
import { copyShareMixin } from '@/mixins/copy-share'
import { mapGetters, mapState } from 'vuex'
import smoothscroll from 'smoothscroll-polyfill'
import { renderAirport } from '@/components/forms/booking-form/utils'
import debounce from '@/directives/debounce'

export default {
  name: 'FlightWidget2',

  computed: {
    ...mapGetters({
      settings: 'vars/settings'
    }),
    ...mapState({
      locale: state => state.locale
    }),

    airportsDestination () {
      return this.getAirportsFormFlights('airport_destination', this.form.destination_text)
    },

    airportsOrigin () {
      return this.getAirportsFormFlights('airport_origin', this.form.origin_text)
    }
  },

  data () {
    return {
      agree: true,
      dateFilled: false,
      delay: 500,
      disabledDates: {
        to: new Date(Date.now() - 8640000)
      },
      errorMessages: null,
      form: {
        origin_text: null,
        destination_text: null,
        flight_date: null,
        flight_type: []
      },
      showForm: false,
      showAirportDestination: false,
      showAirportOrigin: false,
      successMessage: false,
      triggers: []
    }
  },

  directives: { ClickOutside, debounce },
  filters: { renderAirport },

  methods: {
    clearFeld (field) {
      this.form[`${field}_text`] = null
    },

    getAirportsFormFlights (field, search) {
      search = (search || '').toLowerCase()
      let res = []
      const resIds = []
      this.flights.forEach(f => {
        if (resIds.indexOf(f[field].id) === -1) {
          resIds.push(f[field].id)
          res.push(f[field])
        }
      })

      res.sort((a, b) => {
        return a.title > b.title ? 1 : -1
      })

      if (search) {
        res = res.filter(a => {
          return a.code.toLowerCase().indexOf(search) >= 0 ||
            (a.title && a.title.toLowerCase().indexOf(search) >= 0) ||
            (a.city && a.city.title && a.city.title.toLowerCase().indexOf(search) >= 0)
        })
      }

      return res
    },

    resetFilter () {
      this.form = {
        origin_text: null,
        destination_text: null,
        flight_date: null,
        flight_type: []
      }
    },

    datepickerOpened () {
      this.$refs.datepicker.$el.closest('.flight-widget-form__item--date').classList.add('is-focus')
    },

    datepickerClosed () {
      this.$refs.datepicker.$el.closest('.flight-widget-form__item--date').classList.remove('is-focus')
    },

    hideCitiesDropdownDeparture () {
      this.showCountriesDeparture = false
    },

    hideCitiesDropdownDestination () {
      this.showCountriesDestination = false
    },

    hideDropdown () {
      this.hideCitiesDropdownDeparture()
      this.hideCitiesDropdownDestination()

      this.countryHovered = false
      if (process.browser && typeof (window) !== 'undefined') {
        if (window.innerWidth > 767) {
          this.activeCountry = null
        }
      }
    },

    inputFocus (e, type) {
      e.target.select && e.target.select()
      e.target.closest('.flight-widget-form__item').classList.add('is-focus')
      if (type === 'origin') {
        this.showAirportOrigin = true
        this.showAirportDestination = false
      } else {
        this.showAirportOrigin = false
        this.showAirportDestination = true
      }
    },

    inputBlur (e) {
      e.target.closest('.flight-widget-form__item').classList.remove('is-focus')
      this.showAirportDestination = false
      this.showAirportOrigin = false
    },

    scrollToResults () {
      const el = document.getElementById('list')
      if (el) {
        el.scrollIntoView({ block: 'start', behavior: 'smooth' })
      }
    },

    selectAirportDestination (airport) {
      this.form.destination_text = renderAirport(airport)
      this.hideDropdown()
    },

    selectAirportOrigin (airport) {
      this.form.origin_text = renderAirport(airport)
      this.hideDropdown()
    }
  },

  mixins: [copyShareMixin, formMixin],

  mounted () {
    smoothscroll.polyfill()
  },

  props: {
    flights: {
      type: Array,
      required: true
    }
  },

  watch: {
    'form.origin_text' () {
      this.$emit('changeForm', this.form)
    },

    'form.destination_text' () {
      this.$emit('changeForm', this.form)
    },

    'form.flight_date' () {
      this.$emit('changeForm', this.form)
    },

    'form.flight_type' () {
      this.$emit('changeForm', this.form)
    }
  }
}
</script>
