.hero-section
  position relative
  z-index 0
  overflow hidden

.hero-section__scroll-icon
  position absolute
  width 34px
  height 34px
  left 143px
  bottom 60px
  background transparent no-repeat center
  background-size contain

  &:before
  &:after
    content ''
    position absolute
    width 7px
    height 7px
    border-bottom 2px solid $primary
    border-right 2px solid $primary
    transform rotate(45deg)
    top 40px
    left 50%
    margin-left -3px
    animation mouseAnim 2s linear infinite

  &:after
    top 53px
    opacity 0.4
    animation-delay 0.3s

  +fbp(xs)
    display none

@keyframes mouseAnim
  0%
    transform translateY(0) rotate(45deg)
    opacity 1

  50%
  100%
    transform translateY(10px) rotate(45deg)
    opacity 0

.hero-section__inner
  padding-top 224px
  padding-bottom 107px
  min-height 700px

  +fbp(sm)
    padding-top 180px
    padding-bottom 80px
    min-height 600px

  +fbp(xs)
    min-height 0
    padding-top 117px
    padding-bottom 200px

.hero-offer
  margin-bottom 51px
  max-width 525px

  +fbp(sm)
    max-width 450px

.hero-offer__title
  font-family $secondaryFont
  font-weight 600
  font-size 56px
  line-height 1.214286
  letter-spacing -0.017857em
  text-transform uppercase
  margin-bottom 0.285714em

  +fbp(sm)
    font-size 40px

  +fbp(xs)
    font-size 32px

.hero-offer__subtitle
  font-size 18px
  line-height 1.333333

  +fbp(xs)
    font-size 14px

.hero-section__img
  position absolute
  right 0
  height 81.4%
  bottom 0
  z-index -1

  img
    abs100()
    objectFitCover()

  +fbp(xs)
    height 272px
