<template lang="pug">
.info-block-wrap
  .info-block.is-active(
    v-if="opened"
    :style="{ backgroundColor: settings.top_message.color }"
    ref="infoBlock"
    @click="close"
  )
    .container.info-block__container
      .info-block__text(v-html="settings.top_message.message")
      .info-block__btn-wrap(@click="close")
        a.info-block__button(
          v-if="settings.top_message.button_caption && settings.top_message.button_link && settings.top_message.button_link.indexOf('http') === 0"
          style="color: #D60B51"
          :href="settings.top_message.button_link"
          target="_blank"
          rel="nofollow"
          v-html="settings.top_message.button_caption"
        )
        nuxt-link.info-block__button(
          v-else-if="settings.top_message.button_caption && settings.top_message.button_link"
          :style="{ color: settings.top_message.color }"
          :to="settings.top_message.button_link"
          v-html="settings.top_message.button_caption"
        )

      .info-block__close(
        @click="close"
      )
</template>

<script>
import { setCookie } from '@/utils/cookies'
import { mapGetters } from 'vuex'

const COOKIE_NAME = 'topmsg'

export default {
  name: 'InfoBlock',

  computed: {
    ...mapGetters({ settings: 'vars/settings' })
  },

  data () {
    return {
      opened: false
    }
  },

  methods: {
    close () {
      document.querySelector('body').classList.remove('info-opened')
      this.opened = false
      document.querySelector('.header').style.top = 0 + 'px'
      if (this.settings && this.settings.top_message) {
        setCookie(COOKIE_NAME, '' + this.settings.top_message.id)
      }
    },

    show () {
      this.$nextTick(() => {
        const height = this.$refs.infoBlock.offsetHeight
        document.querySelector('.header').style.top = height + 'px'
      })
    }
  },

  mounted () {
    if (this.settings && this.settings.top_message && this.settings.top_message.message) {
      // let previousShown = parseInt(getCookie(COOKIE_NAME))
      // if (!previousShown || isNaN(previousShown)) {
      const previousShown = -1
      // }

      if (this.settings.top_message.id > previousShown) {
        this.opened = true
      }
    }
  },

  watch: {
    opened () {
      if (this.opened) {
        this.show()
      }
    }
  }
}
</script>
