.info-block
  text-align center
  font-size 0
  line-height 1
  position relative
  padding 8px 0
  display none
  z-index 1000

  +fbp(xs)
    padding 10px 0

  &.is-active
    display block
    background $primary

.info-block__container
  position relative
  padding 0 40px
  display flex
  justify-content center
  align-items center
  flex-wrap wrap

.info-block__text
  display inline-block
  vertical-align middle
  margin 8px 0
  margin-right 57px
  font-size 18px
  line-height 22px
  color #FFF
  font-weight 500

  +fbp(sm)
    font-size 16px
    line-height 20px
    margin-right 20px

  +fbp(xs)
    margin-right 15px
    display block
    margin-bottom 10px

.info-block__btn-wrap
  display inline-block
  vertical-align middle

.info-block__button
  display inline-block
  vertical-align middle
  background #fff
  font-weight 500
  font-size 14px
  text-align center
  padding 6px 20px
  transition opacity 0.3s
  text-transform uppercase
  text-decoration none

  +fbp(sm)
    font-size 12px

  &:hover
    opacity 0.8

.info-block__close
  position absolute
  width 15px
  height 15px
  right 20px
  top 50%
  opacity 0.75
  transition opacity 0.3s
  cursor pointer
  z-index 10
  margin-top -8px

  &:hover
    opacity 1

  &:before
    content ''
    position absolute
    width 20px
    left 0
    top 0
    height 1px
    background-color #fff
    transform rotate(45deg)
    transform-origin  0 0

  &:after
    content ''
    position absolute
    width 20px
    left -1px
    bottom 0
    height 1px
    background-color #fff
    transform rotate(-45deg)
    transform-origin  0 0
