.flight-booking
  border-top 2px dashed $secondary7
  padding-top 35px
  padding-bottom 23px
  position relative
  margin-top 12px

  &:before
    content ''
    position absolute
    height 12px
    left 12px
    right 12px
    bottom -24px
    background linear-gradient(360deg, #213046 -156.25%, #FFFFFF -156.21%, rgba(255, 255, 255, 0.06) 179.02%)

  .form__col
    position relative
    width calc(33.33% - 10px)
    margin-bottom 4px

  .form-item
    +fbp(xsAfter)
      .form-item__error
        display none
    +fbp(smAfter)
      & + .form-item__error
        position relative
        top 0
        right 0
        transform translateY(0%)
        margin-top -10px
        display block

  .form-field
    padding-right 20px

  .form__accept
    margin-top 5px


  +fbp(sm)
    .form__cols
      display flex

    .form__col
      width calc(50% - 10px)

  +fbp(xs)
    .form__cols
      display block

    .form__col
      width 100%

  .form__accept
    div
      color $secondary
      a
        border-bottom-color $secondary
        color $secondary

.flight-booking__title
  font-weight 600
  font-size 20px
  line-height 24px
  margin-bottom 21px
  font-family $secondaryFont
  text-transform uppercase
