<template lang="pug">
.flight-booking
  .container
    div(v-if="!successMessage")
      .flight-booking__title(v-if="formTitle") {{ formTitle }}
      .form__cols
        .form__col
          .form-item.form-item--light.icon-user(
            :class="{ 'has-error': $v.form.seats.$dirty && $v.form.seats.$invalid }"
          )
            span.form-item__error(v-if="$v.form.seats.$dirty && !$v.form.seats.required") {{ $t('forms.errors.required') }}
            span.form-item__error(v-else-if="$v.form.seats.$dirty && !$v.form.seats.minValue") {{ $t('forms.errors.minValue', [1]) }}
            span.form-item__error(v-else-if="$v.form.seats.$dirty && !$v.form.seats.maxValue") {{ $t('forms.errors.maxValue', [maxSeats]) }}
            input.form-field(
              type="number"
              name="seats"
              v-model="form.seats"
              maxlength="3"
              :min="1"
              :max="maxSeats"
              :step="1"
              :placeholder="`${$t('forms.fields.seats')} *`"
            )
          span.form-item__error(v-if="$v.form.seats.$dirty && !$v.form.seats.required") {{ $t('forms.errors.required') }}
          span.form-item__error(v-else-if="$v.form.seats.$dirty && !$v.form.seats.minValue") {{ $t('forms.errors.minValue', [1]) }}
          span.form-item__error(v-else-if="$v.form.seats.$dirty && !$v.form.seats.maxValue") {{ $t('forms.errors.maxValue', [maxSeats]) }}

        .form__col
          .form-item.form-item--light.icon-user(
            :class="{ 'has-error': $v.form.first_name.$dirty && $v.form.first_name.$invalid }"
          )
            span.form-item__error(v-if="$v.form.first_name.$dirty && !$v.form.first_name.required") {{ $t('forms.errors.required') }}
            input.form-field(
              type="text"
              name="first_name"
              v-model="form.first_name"
              maxlength="255"
              :placeholder="`${$t('forms.fields.name')} *`"
            )
          span.form-item__error(v-if="$v.form.first_name.$dirty && !$v.form.first_name.required") {{ $t('forms.errors.required') }}

        .form__col
          .form-item.form-item--light.icon-user(
            :class="{ 'has-error': $v.form.last_name.$dirty && $v.form.last_name.$invalid }"
          )
            input.form-field(
              type="text"
              name="last_name"
              v-model="form.last_name"
              maxlength="255"
              :placeholder="$t('forms.fields.lastName')"
            )

        .form__col
          .form-item.form-item--light.icon-phone(
            :class="{ 'has-error': $v.form.phone_number.$dirty && $v.form.phone_number.$invalid }"
          )
            span.form-item__error(v-if="$v.form.phone_number.$dirty && !$v.form.phone_number.required") {{ $t('forms.errors.required') }}
            input.form-field(
              type="tel"
              name="phone_number"
              v-mask="'+###########'"
              v-model="form.phone_number"
              maxlength="18"
              pattern="[0-9]*"
              :placeholder="`${$t('forms.fields.phone')} *`"
            )
          span.form-item__error(v-if="$v.form.phone_number.$dirty && !$v.form.phone_number.required") {{ $t('forms.errors.required') }}

        .form__col
          .form-item.form-item--light.icon-email(
            :class="{ 'has-error': $v.form.email.$dirty && $v.form.email.$invalid }"
          )
            span.form-item__error(v-if="$v.form.email.$dirty && !$v.form.email.required") {{ $t('forms.errors.required') }}
            span.form-item__error(v-else-if="$v.form.email.$dirty && !$v.form.email.email") {{ $t('forms.errors.email') }}
            input.form-field(
              type="email"
              name="email"
              v-model="form.email"
              maxlength="254"
              placeholder="E-mail *"
            )
          span.form-item__error(v-if="$v.form.email.$dirty && !$v.form.email.required") {{ $t('forms.errors.required') }}
          span.form-item__error(v-else-if="$v.form.email.$dirty && !$v.form.email.email") {{ $t('forms.errors.email') }}

        .form__col
          .form-item.form-item--light
            label.form-field.form-field--checkbox.checkbox
              input(type="checkbox" v-model="form.want_return_flight")
              div
                span {{ $t('booking.wantReturnFlight') }}

      label.form__accept.checkbox(v-if="settings && settings.agree_text")
        input(type="checkbox" name="accept" v-model="agree")
        div(v-html="settings.agree_text")

      .form__submit
        button.btn(
          type="button"
          :disabled="!agree"
          @click.prevent="submit"
        ) {{ $t('forms.buttons.send') }}

    transition(name="fade")
      booking-form-thanks(
        v-if="successMessage"
        :copy-button="copyButton"
        :email-title="emailTitle"
        :share-button="shareButton"
        :success-content="successContent"
        :success-message="successMessage"
        :success-title="successTitle"
        referral-to-main
        @close="successMessage = null"
      )
</template>

<script>
import 'moment/locale/ru'
import { formMixin } from '@/mixins/forms'
import { validationMixin } from 'vuelidate'
import { email } from '@/utils/validators'
import { minValue, maxValue, required } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import { execMetrikaMethod } from '@/utils/metrika'
import { getReferralCode } from '@/utils/referrals'
import API from '@/api'

export default {
  name: 'BookingForm',

  computed: {
    ...mapGetters({
      settings: 'vars/settings'
    })
  },

  data () {
    return {
      submitting: false,
      agree: true,
      form: {
        email: null,
        first_name: null,
        last_name: null,
        phone_number: null,
        seats: null,
        want_return_flight: false
      },
      successMessage: false
    }
  },

  mixins: [formMixin, validationMixin],

  methods: {
    submit () {
      if (this.submitting) {
        return false
      }

      this.errorMessages = null
      this.$v.$touch()
      if (this.$v.$invalid) {
        return false
      }

      execMetrikaMethod('reachGoal', ['form-jetsharing-send'])
      this.submitting = true
      const vm = this
      const data = {}
      const refCode = getReferralCode()
      if (refCode) {
        data.referral_code = refCode
      }
      data.flights = [{
        airport_origin_id: this.flight.airport_origin.id,
        airport_destination_id: this.flight.airport_destination.id,
        destination_datetime: this.flight.destination_datetime,
        origin_datetime: this.flight.origin_datetime,
        price: this.flight.price
      }]

      this.setUTMs(data)
      this.$axios.post(API.forms.jetSharingBooking(), Object.assign(data, this.form, { url: this.$route.fullPath }))
        .then(response => {
          this.successMessage = response.data.detail
          Object.keys(vm.form).forEach(k => {
            if (Object.prototype.hasOwnProperty.call(vm.form, k)) {
              vm.form[k] = null
            }
          })
          vm.$v.form.$reset()
          this.form.want_return_flight = false
          execMetrikaMethod('reachGoal', ['form-jetsharing-success'])
          vm.$emit('submitted', response)
        })
        .catch(error => vm.parseFormErrors(error))
        .then(() => { vm.submitting = false })
    }
  },

  props: {
    copyButton: {
      type: [String, null],
      required: false,
      default: null
    },
    emailTitle: {
      type: [String, null],
      required: false,
      default: null
    },
    flight: {
      type: Object,
      required: true
    },
    formTitle: {
      type: [String, null],
      reqiured: false,
      default: null
    },
    maxSeats: {
      type: Number,
      required: true
    },
    shareButton: {
      type: [String, null],
      required: false,
      default: null
    },
    successContent: {
      type: [String, null],
      required: false,
      default: null
    },
    successTitle: {
      type: [String, null],
      required: false,
      default: null
    }
  },

  validations () {
    const rules = {
      form: {
        email: {
          email,
          required,
          fromServer (value) {
            if (value === null) return true
            return !(this.errorMessages && this.errorMessages.email)
          }
        },

        seats: {
          required,
          minValue: minValue(1),
          fromServer (value) {
            if (value === '') return true
            return !(this.errorMessages && this.errorMessages.seats)
          }
        },

        first_name: {
          required,
          fromServer (value) {
            if (value === '') return true
            return !(this.errorMessages && this.errorMessages.first_name)
          }
        },

        last_name: {
          fromServer (value) {
            if (value === '') return true
            return !(this.errorMessages && this.errorMessages.last_name)
          }
        },

        phone_number: {
          required,
          fromServer (value) {
            if (value === '') return true
            return !(this.errorMessages && this.errorMessages.phone_number)
          }
        }
      }
    }

    rules.form.seats.maxValue = maxValue(this.maxSeats)
    return rules
  }
}
</script>
