.apps-section
  position relative

.apps-section__inner
  min-height 900px
  display flex
  align-items center

  +fbp(md)
    min-height 800px

  +fbp(sm)
    min-height 0
    padding-top 550px
    padding-bottom 100px

  +fbp(xs)
    padding-bottom 60px
    padding-top 370px

.apps-section__heading
  margin-bottom 62px

  +fbp(xs)
    margin-bottom 30px

.apps-section__title
  margin-bottom 39px

  +fbp(md)
    font-size 40px
    margin-bottom 1em

  +fbp(xs)
    font-size 24px

.apps-section__img
  position absolute
  bottom 0
  left 0
  margin-left -140px
  z-index 1
  font-size 0
  line-height 1
  width 100%
  max-width 498px

  img
    max-width 100%
    height auto

  +fbp(md)
    max-width 400px
    margin-left -124px

  +fbp(sm)
    bottom 0
    left 50%
    margin-left 0
    transform translateX(-50%)

  +fbp(xs)
    max-width 200px

.apps-section__bg
  position absolute
  background-position center
  background-repeat no-repeat
  background-size cover
  width calc(50% - 20px)
  right 0
  top 0
  height 100%

  +fbp(sm)
    height 500px
    width 100%

  +fbp(xs)
    height 350px

.apps-section__text
  max-width 50%
  padding-right 10px

  +fbp(sm)
    max-width none
    padding-right 0

.apps-stores
  font-size 0
  line-height 1
  margin-right -20px
  margin-bottom -10px

  a
    display inline-block
    vertical-align middle
    margin-right 20px
    margin-bottom 10px
    transition opacity 0.3s

    &:hover
      opacity 0.8

  +fbp(xs)
    margin-right -10px

    a
      margin-right 10px
