.header
  z-index 2
  width 100%
  left 0
  top 0
  position absolute
  padding 56px 0
  padding-bottom 0
  font-size 0
  transition background .3s, top .3s

  &--relative
    position relative

  +fbp(sm)
    padding 30px 0

  +fbp($headerBreakpoint)
    padding 10px 0
    position fixed
    left 0
    top 0
    z-index 100
    background transparent

    &:not(.header--always-visible):not(.header--main)
      display none

    &.is-scroll
      background-color $white
      z-index 99
      top 0 !important

.header.header--hide-lang
  .header-lang
    display none

.header:not(.header--white)
  .header-lang
    //&.expanded
    //  .select__open
    //    border-color rgba($primary, 1)
    //
    //    &:hover
    //      color $primary
    //      border-color $primary
    //
    a
      color $primary
      border-color rgba($primary, 0.5)

    //.select__open
    //  color $primary
    //  border-color rgba($primary, 0.5)
    //
    //.dropdown
    //  border-color rgba($primary, 01)
    //  background-color $white
    //
    //  .item
    //    color $primary
    //
    //    &:hover
    //      color $black

.header--main
  display none

  +fbp($headerBreakpoint)
    display block

.header__logo
  position relative
  z-index 1
  height 56px
  display block

  +fbp($headerBreakpoint)
    max-width 66px

    img:nth-child(1)
      display block !important

    img:nth-child(2)
      display none !important

    .header--white &
      img:nth-child(1)
        display none !important

      img:nth-child(2)
        display block !important

    .header--white.is-scroll &
      img:nth-child(1)
        display block !important

      img:nth-child(2)
        display none !important

.header__container
  display flex
  justify-content space-between
  align-items center
  +fbp(sm)
    max-width 1000px

.header-nav
  padding 20px 0
  line-height 1
  font-size 0

  +fbp(sm)
    padding 15px 0

  +fbp($headerBreakpointAfter)
    display block !important

  +fbp($headerBreakpoint)
    padding 0
    position fixed
    width 100%
    height 100%
    left 0
    top 0
    background-color $white
    display flex
    flex-direction column
    justify-content center
    align-items center
    text-align center

.header-nav-list__item
  display inline-block
  vertical-align middle
  margin-right 70px

  &:last-child
    margin-right 0

  +fbp(sm)
    margin-right 25px

  +fbp($headerBreakpoint)
    display block
    margin 20px 0 !important

.header-nav-list__link
  display inline-block
  font-weight 500
  font-size 16px
  line-height 1
  text-decoration none
  color $textColor
  transition color 0.3s

  &:hover
    color $primary

  +fbp($headerBreakpoint)
    font-size 26px

.header__center
  margin-right auto

  +fbp(sm)
    flex 1
    display flex
    justify-content center

  +fbp($headerBreakpoint)
    &:not(.menu-shown)
      display none !important

.header-nav-toggle
  padding 0
  border 0
  outline 0
  background none
  display none
  width 40px
  height 30px
  position relative
  cursor pointer

  +fbp($headerBreakpoint)
    display inline-block
    vertical-align middle
    margin-left 20px

  span
    display block
    width 40px
    height 4px
    background-color $primary
    margin-bottom 8px
    transform-origin 0 0
    transition transform 0.3s

    &:last-child
      margin-bottom 0

  &.is-active
    span
      background $secondary !important

      &:nth-child(1)
        transform rotate(45deg) translateX(3px) translateY(-6px)

      &:nth-child(2)
        opacity 0

      &:nth-child(3)
        transform rotate(-45deg) translateX(4px) translateY(5px)
        transform-origin 0 100%

.header__right
  +fbp($headerBreakpoint)
    display flex
    align-items center

.header-lang
  position absolute
  right -1px
  top 64px

  a
    color $primary
    display inline-block
    text-transform uppercase
    border 1px solid rgba($primary, 0.5)
    padding 12px 21px 12px
    font-weight 500
    font-size 16px
    line-height 100%
    text-decoration none
    white-space nowrap

  @media (max-width 1380px)
    position relative
    top 3px
    margin-left 10px

    a
      color $primary
      border-color rgba($primary, 0.5)

.header__auth-btn
  +fbp($headerBreakpoint)
    display none


.header--white
.header--hide-lang.header--white.is-scroll
  +fbp($headerBreakpointAfter)
    .header-lang
      a
        color $white
        border-color rgba($white, 0.5)

    .header-nav-toggle
      span
        background $white

  +fbp($headerBreakpointAfter)
    .header-nav-list__link
      color $white

      &:hover
        color $primary

.header--white:not(.is-scroll)
  +fbp($headerBreakpoint)
    .header-lang
      a
        color $white
        border-color rgba($white, 0.5)

    .header-nav-toggle
      span
        background $white
