.contacts
  position relative

.contacts-header__tabs
  display flex
  flex-wrap wrap
  margin-right -20px

  +fbp(xs)
    padding-top 10px

.contacts-header__tab
  margin 10px 0
  margin-right 20px

  .btn
    min-width 180px

  +fbp(xs)
    margin 5px 0
    margin-right 10px

.contacts-cols
  min-height 645px

  +fbp(sm)
    min-height 500px

  +fbp(xs)
    min-height 0

.contacts-col--left
  +fbp(xs)
    margin-bottom 30px

.contacts-header
  display flex
  justify-content space-between
  align-items center
  margin-bottom 62px

  +fbp(sm)
    display block
    margin-bottom 40px

.contacts-header__title
  font-family $secondaryFont
  font-weight 500
  font-size 48px
  line-height 1.333333
  letter-spacing -0.020833em
  text-transform uppercase
  color $textColor
  padding-right 20px

  +fbp(sm)
    font-size 30px
    padding-right 0

  +fbp(xs)
    font-size 24px

.map-container
  position absolute
  height 646px
  bottom 0
  right 0

  +fbp(sm)
    height 500px

  +fbp(xs)
    position relative
    height 350px
    left -15px

.contacts-map
  abs100()

.contacts-address
  position absolute
  right 0
  top 0
  background-color $secondary
  font-size 14px
  line-height 18px
  color $secondary5
  padding 21px
  padding-left 70px
  z-index 1
  width 100%
  max-width 300px
  min-height 80px
  display flex
  align-items center

  &:before
    content ''
    position absolute
    width 16px
    height 20px
    background url('/images/location.svg') no-repeat 0 0
    left 25px
    top 50%
    margin-top -10px

  address
    font-style normal
    margin 0

  +fbp(xs)
    max-width none

[class*="ymaps-2-1"][class*="-ground-pane"]
  filter grayscale(100%)
  opacity 0.8

.contacts__phone
  margin-bottom 29px

  a
    font-weight 500
    font-size 18px
    line-height 1.333333
    color $secondary2
    display inline-block
    transition color 0.3s
    text-decoration none

    &:hover
      color $primary

.contacts__email
  margin-bottom 37px

  a
    font-weight 500
    font-size 16px
    line-height 100%
    color $secondary2
    display inline-block
    transition color 0.3s
    text-decoration none

    &:hover
      color $primary
