// hero
.schedule-hero
  background url('/images/schedule_cover_img.jpg') no-repeat center
  background-size cover
  color #fff
  float left
  width 100%

  & + *
    clear both

  .section__inner
    padding 0
    padding-top 187px

    +fbp(sm)
      padding-top 160px

    +fbp(xs)
      padding-top 140px

  .flight-widget
    margin-bottom -97px

    +fbp(xs)
      margin-bottom 0

  +fbp(xs)
    padding-bottom 30px

.schedule-hero__title
  text-align center
  font-weight 600
  font-size 28px
  line-height 1.5
  max-width 725px
  margin 0 auto
  margin-bottom 29px
  color #fff
  font-family $secondaryFont
  text-transform uppercase

  +fbp(sm)
    font-size 24px
    max-width 625px

  +fbp(xs)
    font-size 20px
    max-width 525px
    margin-bottom 20px

.schedule-hero__stats
  display flex
  flex-wrap wrap
  justify-content center
  margin 0 -15px

.schedule-hero__stats-item
  background rgba($secondary, 0.6)
  border-radius 30px
  padding 22px 28px
  padding-left 75px
  font-size 16px
  line-height 100%
  text-align center
  color $secondary7
  position relative
  margin 0 15px
  margin-bottom 30px

  span
    position absolute
    border 2px solid #344156
    width 60px
    height 60px
    left 0
    top 50%
    margin-top -30px
    color #fff
    font-weight 500
    font-size 18px
    line-height 24px
    text-align center
    line-height 56px
    border-radius 50%
    z-index 0

    &:before
      content ''
      z-index -1
      position absolute
      border-radius 50%
      width 46px
      height 46px
      background $primary
      left 50%
      top 50%
      margin-top -23px
      margin-left -23px


  &:nth-child(2)
    padding-left 28px
    padding-right 75px
    span
      left auto
      right 0

// tickets
.tickets-section
  padding-top 120px
  background-color $secondary7
  float left
  width 100%

  +fbp(xs)
    padding-top 30px

.ticket-items
  padding-bottom 60px

  +fbp(xs)
    padding-bottom 30px

    h3
      padding-top 62px

.ticket-item
  background-color #fff
  padding 12px 0
  position relative
  z-index 0
  margin-bottom 1px

  // &:before
  //   content ''
  //   abs100()
  //   background linear-gradient(90deg, $secondary7 -8.61%, rgba(232, 234, 236, 0) 32.12%)
  //   z-index -1

  .flight-booking
    display none

  &.is-active
    margin-bottom 40px


    .ticket-item__end
      .btn
        background-color $secondary2

        &:after
          background-color $secondary

        &:before
          border-top-color $secondary
          border-left-color $secondary

        span
          &:nth-child(1)
            display none

          &:nth-child(2)
            display block

    .flight-booking
      display block

.ticket-item__container
  display flex
  flex-wrap wrap

.ticket-item__start
  padding-right 20px
  flex 1 1 auto
  display flex
  flex-wrap wrap
  align-items center
  padding-top 23px
  padding-bottom 23px

  +fbp(md)
    flex auto
    width 100%
    padding-right 0

.ticket-item__from,
.ticket-item__to
  width 294px
  padding-right 20px
  position relative

  +fbp(md)
    width 33%
    padding 0

  +fbp(sm)
    width 32%

  +fbp(xs)
    width 100%
    margin-bottom 30px

.ticket-item__to
  +fbp(xs)
    margin-bottom 0

.ticket-item__end
  width 310px
  min-width 310px
  border-left 2px dashed $secondary7
  flex 0 1 auto
  padding-left 60px
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items flex-start

  .btn
    width 100%
    display block
    margin-top 5px

    span
      &:nth-child(2)
        display none

  +fbp(md)
    width 100%
    flex auto
    padding-left 0
    border-left 0
    border-top 2px dashed $secondary7
    padding-top 20px
    min-width 0

.ticket-item__places,
.ticket-item__price
  display flex
  justify-content space-between
  align-items center
  margin 0
  margin-bottom 15px
  width 100%

  dt
    font-size 14px
    line-height 18px
    color #A5ABB4
    padding-right 10px
    white-space nowrap
    margin 0

  dd
    font-weight 600
    font-size 14px
    line-height 18px
    text-align right
    color #344156
    margin 0

  +fbp(md)
    width calc(50% - 50px)

  +fbp(xs)
    width 100%

.ticket-item__price
  dd
    font-weight 600
    font-size 22px
    line-height 24px


.info-tooltip
  width 16px
  height 16px
  border-radius 50%
  cursor pointer
  background $secondary7
  display inline-block
  vertical-align middle
  margin-left 5px
  position relative
  font-weight 500
  font-size 11px
  line-height 18px
  color $secondary
  text-align center

  &:hover
    .info-tooltip__text
      opacity 1
      visibility visible

.info-tooltip__text
  white-space normal
  border-radius 5px
  background-color #fff
  padding 10px
  width 200px
  position absolute
  top 100%
  left 0
  transition all 0.3s
  opacity 0
  visibility hidden
  text-align left
  z-index 10
  box-shadow 0 0 10px 0 rgba(#000, 0.1)


.ticket-item__date
  font-size 14px
  line-height 18px

.ticket-item__place
  font-size 28px
  line-height 1.5

  +fbp(sm)
    font-size 24px


.ticket-item__place-detail
  font-size 14px
  line-height 18px
  color #A5ABB4
  margin-bottom 20px


.ticket-item__time
  font-weight 600
  font-size 24px
  line-height 24px
  color $primary


.ticket-item__airplane
  margin-right 60px
  width 201px
  position relative
  text-align center

  &:before
    content ''
    position absolute
    width 28px
    height 28px
    background url('/images/airplane_start.svg') no-repeat 0 0
    background-size contain
    left 0
    top 50%
    margin-top -14px

  &:after
    content ''
    position absolute
    width 28px
    height 28px
    background url('/images/airplane_finish.svg') no-repeat 0 0
    background-size contain
    right 0
    top 50%
    margin-top -14px

  +fbp(md)
    width calc(34% - 80px)
    margin 0 40px

  +fbp(sm)
    width calc(36% - 40px)
    margin 0 20px

  +fbp(xs)
    width 100%
    margin 0
    margin-bottom 30px
    max-width 201px

.ticket-item__flight-time
  font-size 14px
  line-height 18px
  text-align center
  color #A5ABB4
  margin-bottom 10px

.ticket-item__flight-name
  min-width 115px
  padding-top 10px
  border-top 1px solid #B79985
  display inline-block
  font-size 14px
  line-height 18px
  text-transform uppercase
  color #B79985

// info img
.info-img-section
  overflow hidden

  .section__inner
    padding 0
    display flex
    align-items center
    min-height 578px
    padding-bottom 78px

  .years-section__img
    top 0
    height 500px

  .section-heading
    margin-bottom 30px

  +fbp(md)
    .years-section__img
      height 450px

    .section__inner
      min-height 528px

  +fbp(sm)
    .years-section__img
      height 350px

    .section__inner
      min-height 428px

  +fbp(xs)
    .years-section__img
      height 200px
      left 10px
      width 100%

    .section__inner
      min-height 0
      padding-top 250px
      padding-bottom 40px

// we are best
.we-are-best
  padding-bottom 40px
  margin-top -95px

  +fbp(xs)
    margin-top 0

.we-are-best__title
  font-weight 600
  font-size 28px
  line-height 1.5
  text-transform uppercase
  margin-bottom 4.321429em
  font-family $secondaryFont

  +fbp(sm)
    width 50%
    font-size 24px
    margin-bottom 3em

  +fbp(xs)
    font-size 20px
    margin-bottom 1.5em

.we-are-best__items
  display flex
  justify-content space-between
  flex-wrap wrap
  margin 0 -10px

.we-are-best__item
  text-align center
  padding 0 10px
  padding-top 108px
  position relative
  width 25%
  max-width 254px
  margin-bottom 40px

  p
    margin 0
    font-size 18px
    line-height 24px

  +fbp(sm)
    width 50%

  +fbp(xs)
    width 100%
    max-width none
    margin-bottom 30px
    text-align left

.we-are-best__item-icon
  position absolute
  left 0
  top 0
  width 100%
  line-height 1
  font-size 0
  text-align center

  +fbp(xs)
    text-align left
    padding-left 10px

// not found
.tickets-not-found-container
  margin-bottom -100px

.tickets-not-found
  background linear-gradient(253.29deg, #D2BAA9 38.46%, #AD9280 100%)
  padding 58px 100px
  display flex
  align-items center
  justify-content space-between
  position relative
  overflow hidden
  z-index 0
  z-index 1

  &:before
    content ''
    position absolute
    background  url('/images/block_gradient.svg') no-repeat 0 0
    background-size contain
    width 953px
    height 863px
    z-index -1
    left -46px
    top 50%
    margin-top -431px


  .btn
    min-width 250px

  +fbp(md)
    padding 40px

  +fbp(sm)
    .btn
      min-width 0

  +fbp(xs)
    display block
    padding 20px 16px

.tickets-not-found__title
  font-weight 600
  font-size 28px
  line-height 1.5
  color #fff
  font-family $secondaryFont
  text-transform uppercase
  margin-right 1.071429em

  +fbp(md)
    font-size 24px

  +fbp(sm)
    font-size 20px

  +fbp(xs)
    font-size 16px
    margin-right 0
    margin-bottom 10px

// comfortable way
.comfortable-way
  background radial-gradient(58.94% 71.15% at 76.42% 50%, rgba(29, 44, 67, 0.92) 0%, #1D2C43 100%)

.comfortable-way__container
  padding-top 200px

  +fbp(sm)
    padding-top 150px

  +fbp(xs)
    //

.comfortable-way__heading
  margin 0
  margin-bottom -35px

  .section-heading__title
    margin 0

  +fbp(md)
    margin-bottom 20px

.comfortable-way__cols
  display flex
  justify-content space-between
  position relative

  +fbp(xs)
    display block

.comfortable-way__col-start
  width 471px
  padding-top 105px


  +fbp(xs)
    width 100%
    padding-top 0

.comfortable-way__col-end
  width 465px

  +fbp(xs)
    width 100%

.comfortable-way__item
  margin-bottom 100px

  +fbp(md)
    margin-bottom 80px

  +fbp(sm)
    margin-bottom 60px
    padding-top 20px

  +fbp(xs)
    margin-bottom 40px
    padding-right 0

.comfortable-way__item-title
  font-weight 600
  font-size 28px
  line-height 1.5
  margin-bottom 16px
  text-transform uppercase
  color $primary
  font-family $secondaryFont

  +fbp(sm)
    font-size 24px

  +fbp(xs)
    font-size 20px

.comfortable-way__item-text
  color #fff
  margin-bottom 35px

.comfortable-way__cols-wrap
  position relative

.comforable-way__lines
  +fbp(md)
    display none
  span
    position absolute
    background-color $primary

    &:nth-child(1)
      width 537px
      height 2px
      bottom 134px
      left -130px

    &:nth-child(2)
      width 2px
      height 842px
      bottom 134px
      left 406px
      transform rotate(27deg)
      transform-origin 0 100%
      background none

      &:before
        content ''
        transform rotate(27deg)
        background-color $primary
        width 100%
        height 100%
        left 0
        bottom 0
        position absolute


  +fbp(xsAfter)
    span:nth-child(1)
      transform scale(0, 1)
      transition transform 1s
      transform-origin 100% 50%
      transition-delay 1s

    span:nth-child(2)
      &:before
        transform scale(1, 0)
        transition transform 1s
        transform-origin 50% 0

    &.is-inview
      span:nth-child(1)
        transform scale(1, 1)

      span:nth-child(2)
        &:before
          transform scale(1, 1)
