<template lang="pug">
.flight-widget-thank.form-thank
  .form-thank__close(@click="close") {{ $t('forms.buttons.close') }}
  div
    .form-thank__svg
    .form-thank__title(
      v-if="successTitle"
      v-html="successTitle"
      )

    .form-thank__descr(
      v-if="successContent"
      v-html="successContent"
      )

    .share-link(v-if="referralLink")
      .share-link__input-wrap
        .share-link__icon.icon-link
        .share-link__input
          .form-item.form-item--light
            input.form-field.form-field--sm.readonly(
              type="text"
              :value="referralLink"
              readonly
              ref="refInput"
            )

      .share-link__buttons
        button.btn.btn--sm.btn--simple(
          type="button"
          @click="copyStringToClipboard"
        ) {{ $t('forms.buttons.copy') }}

        button.btn.btn--sm.btn--simple.btn--secondary2(
          v-if="allowShare"
          type="button"
          @click="share"
        ) {{ $t('forms.buttons.share') }}

        .dropdown-wrap(v-else)
          transition(name="fade")
            ul.dropdown.dropdown--gray(
              v-show="isShareDropdownShown"
            )
              li(v-for="option in shareOptions")
                .item(@click="shareSocial(option.value)") {{ option.text }}

          .btn.btn--sm.btn--simple.btn--secondary2(
            @click="isShareDropdownShown = !isShareDropdownShown"
          ) {{ $t('forms.buttons.share') }}

    .form-thank__send-link(v-if="emailTitle" v-html="emailTitle")
    .form-thank__social-title(v-if="settings && settings.form_socials_title" v-html="settings.form_socials_title")
    socials(classes="form-thank__socials")
</template>

<script>
import { copyShareMixin } from '@/mixins/copy-share'
import { mapGetters } from 'vuex'

export default {
  name: 'BookingFormThanks',

  computed: {
    ...mapGetters({
      settings: 'vars/settings'
    })
  },

  methods: {
    close () {
      this.$emit('close')
    }
  },

  mixins: [copyShareMixin],

  props: {
    copyButton: {
      type: [String, null],
      required: false,
      default: null
    },
    emailTitle: {
      type: [String, null],
      required: false,
      default: null
    },
    referralToMain: {
      type: Boolean,
      required: false,
      default: false
    },
    shareButton: {
      type: [String, null],
      required: false,
      default: null
    },
    successContent: {
      type: [String, null],
      required: false,
      default: null
    },
    successMessage: {
      type: [Object, Boolean],
      required: false,
      default: false
    },
    successTitle: {
      type: [String, null],
      required: false,
      default: null
    }
  }
}
</script>
