.search-section
  position relative
  color $white
  min-height 100vh
  display flex
  overflow visible

  .fp-tableCell
    min-height 100vh
    display flex

  .fp-scroller
    position relative

  +fbp(xs)
    min-height 0

.search-section__inner
  width 100%
  display flex
  justify-content center
  padding 0

.search-section__container
  padding-top 224px
  padding-left 50px
  padding-right 50px
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  position relative

  +fbp(sm)
    padding-top 150px

  +fbp(xs)
    padding-top 120px
    padding-left 15px
    padding-right 15px

.search-section__bg
  position absolute
  width 100%
  top 0
  bottom 95px
  left 0
  z-index -1
  background-position center
  background-repeat no-repeat
  background-size cover

  &:before
    content ''
    z-index 1
    background linear-gradient(180deg, $secondaryLight -30.75%, rgba($secondaryLight, 0.35) 16.48%, rgba($white, 0) 70.31%)
    abs100()

  &:after
    content ''
    background $secondary2
    opacity 0.2
    abs100()

  +fbp(xs)
    bottom 0

.search-section__title
  color $white
  margin auto auto
  font-family $secondaryFont
  font-weight 600
  font-size 56px
  line-height 1.214286
  max-width 14.107143em
  text-align center

  +fbp(sm)
    font-size 40px

  +fbp(xs)
    font-size 24px
    margin 0
    margin-bottom 30px

.search-section__social
  position absolute
  top 0
  right 0
  bottom 95px
  justify-content center

  +fbp(xs)
    top auto
    width 100%
    bottom 20px
    flex-direction row

    li
      margin 0 6px

