// transitions
.fade-enter-active
.fade-leave-active
  transition opacity 0.3s

.fade-enter
.fade-leave-to
  opacity 0

.togglefade-enter-active
.togglefade-leave-active
  transition opacity .25s

.togglefade-enter
.togglefade-leave-active
  opacity 0


.togglefadeslide-enter-active
  transform translateY(0px)

.togglefadeslide-enter-active
.togglefadeslide-leave-active
  transition opacity .25s, transform .25s

.togglefadeslide-enter
.togglefadeslide-leave-active
  opacity 0
  transform translateY(10px)


.herofade-enter-active
.herofade-leave-active
  transition opacity .25s

.herofade-enter
.herofade-leave-active
  opacity 0

  .hero-text__descr
    transform translateY(50px)
    opacity 0

  .hero-text__title
    transform translateY(50px)
    opacity 0

  .hero-text__button
    transform translateY(50px)
    opacity 0
