@keyframes bouncedelay
    0%, 80%, 100%
        transform scale(0.0)
    40%
        transform scale(1.0)

    @keyframes fade-out
        0%
            opacity 0.97
            max-height 1000px

        100%
            opacity 0
            max-height 0

    @keyframes firstCircle
        0%
            opacity 0
            margin-left 0

        100%
            opacity 1
            margin-left -80px

    @keyframes firstCircleHide
        0%
            opacity 1
            margin-left -80px

        100%
            opacity 0
            margin-left 0

    @keyframes loading
        0%
            transform rotate(0deg)

        100%
            transform rotate(360deg)

    @keyframes logoText
        0%
            opacity 0
            width 0

        100%
            opacity 1
            width 100%

    @keyframes logoTextHide
        0%
            opacity 1
            width 100%

        100%
            opacity 0
            width 0

    @keyframes ngdialog-flyin
        0%
            opacity 0
        100%
            opacity 1

    @-webkit-keyframes ngdialog-flyout
        0%
            opacity 1

        100%
            opacity 0

    @keyframes secondCircle
        0%
            opacity 0
            margin-left 0

        100%
            opacity 1
            margin-left -40px

    @keyframes secondCircleHide
        0%
            opacity 1
            margin-left -40px

        100%
            opacity 0
            margin-left 0

    @keyframes slide-from-right
        0%
            opacity 0
            transform translateX(100%)
            max-height 0

        50%
            opacity 0
            transform translateX(100%)
            max-height 1000px

        100%
            opacity 0.97
            transform translateX(0%)
            max-height 1000px

    @keyframes slide-from-top
        0%
            opacity 0
            transform translateY(-100%)
            max-height 0

        50%
            opacity 0
            transform translateY(-100%)
            max-height 1000px

        100%
            opacity 0.97
            transform translateY(0%)
            max-height 1000px

    @keyframes slideleft
        0%
            width 100%
            opacity 1

        100%
            width 0
            opacity 0

    @keyframes slideright
        0%
            width 0
            opacity 0

        30%
            width 30%
            opacity 0

        100%
            width 100%
            opacity 1
