<template lang="pug">
form.modal-form(
  @submit.prevent="submit"
)
  .modal__title(
    v-if="context === 'phone_icon' && settings.feedback_form_title"
    v-html="settings.feedback_form_title"
  )
  .modal__title(
    v-else-if="settings.feedback_demo_form_title"
    v-html="settings.feedback_demo_form_title"
  )

  .form-items
    label.form-item.form-item--sm
      .form-item__label {{ $t('forms.feedback.labels.name') }}:
      .form-field-wrap(
        :class="{ 'has-error': $v.form.name.$dirty && $v.form.name.$invalid }"
      )
        input.form-field(
          type="text"
          name="name"
          v-model="form.name"
          maxlength="255"
          :placeholder="$t('forms.placeholders.name')"
        )
        .form__errors
          .form__error(v-show="$v.form.name.$dirty && !$v.form.name.required")
            | {{ $t('forms.errors.required') }}
          .form__error(
            v-if="$v.form.name.$dirty && !! errorMessages && !$v.form.name.fromServer"
            v-html="errorMessages.name.join('<br>')"
          )

    label.form-item.form-item--sm
      .form-item__label {{ $t('forms.feedback.labels.phone') }}:
      .form-field-wrap(
        :class="{ 'has-error': $v.form.phone_number.$dirty && $v.form.phone_number.$invalid }"
      )
        input.form-field(
          type="text"
          name="phone"
          v-mask="'+###########'"
          v-model="form.phone_number"
          maxlength="18"
          placeholder="+7 (495) 495 49 55"
        )
        .form__errors
          .form__error(v-show="$v.form.phone_number.$dirty && !$v.form.phone_number.required")
            | {{ $t('forms.errors.required') }}
          .form__error(
            v-if="$v.form.phone_number.$dirty && !! errorMessages && !$v.form.phone_number.fromServer"
            v-html="errorMessages.phone_number.join('<br>')"
          )

    label.form-item.form-item--sm
      .form-item__label {{ $t('forms.feedback.labels.company') }}:
      .form-field-wrap(
        :class="{ 'has-error': $v.form.company.$dirty && $v.form.company.$invalid }"
      )
        input.form-field(
          type="text"
          name="org"
          v-model="form.company"
          maxlength="255"
          :placeholder="$t('forms.placeholders.company')"
        )
        .form__errors
          .form__error(v-show="$v.form.company.$dirty && !$v.form.company.required")
            | {{ $t('forms.errors.required') }}
          .form__error(
            v-if="$v.form.company.$dirty && !! errorMessages && !$v.form.company.fromServer"
            v-html="errorMessages.company.join('<br>')"
          )
    .form-accept-text(v-if="settings.agree_text")
      p(v-html="settings.agree_text.replace('%s', settings.feedback_form_button)")

    .form-submit.form-submit--full
      button.btn(
        type="button"
        @click="submit"
      ) {{ context === 'phone_icon' ? settings.feedback_form_button || '' : settings.feedback_demo_form_button || '' }}

</template>

<script>
import API from '../../../../api'
import { formMixin } from '../../../../mixins/forms'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import { Alert } from '../../../../utils/alert'
import { execMetrikaMethod } from '../../../../utils/metrika'

export default {
  name: 'FeedbackForm',

  computed: {
    ...mapGetters({
      settings: 'vars/settings'
    })
  },

  data () {
    return {
      errorMessages: null,
      form: {
        company: null,
        name: null,
        phone_number: null
      },
      submitting: false,
      success: false
    }
  },

  methods: {
    submit () {
      if (this.submitting) {
        return false
      }

      this.errorMessages = null
      this.$v.$touch()
      if (this.$v.$invalid) {
        return false
      }

      this.submitting = true
      const vm = this
      const data = Object.assign({}, this.form, { context: this.context, url: this.$route.fullPath })
      vm.$axios.post(API.forms.feedback(), data)
        .then(response => {
          execMetrikaMethod('reachGoal', ['demo request forms'])
          this.success = true
          Object.keys(vm.form).forEach(k => {
            if (Object.prototype.hasOwnProperty.call(vm.form, k)) {
              vm.form[k] = null
            }
          })
          vm.$v.form.$reset()
          Alert(response.data.detail)
          vm.$emit('submitted', response)
        })
        .catch(error => vm.parseFormErrors(error))
        .then(() => {
          vm.submitting = false
        })
    }
  },

  mixins: [formMixin, validationMixin],

  props: {
    context: {
      type: [String, null],
      required: false,
      default: null
    }
  },

  validations: {
    form: {
      company: {
        required,
        fromServer (value) {
          if (value === '') return true
          return !(this.errorMessages && this.errorMessages.company)
        }
      },

      name: {
        required,
        fromServer (value) {
          if (value === '') return true
          return !(this.errorMessages && this.errorMessages.name)
        }
      },

      phone_number: {
        required,
        fromServer (value) {
          if (value === '') return true
          return !(this.errorMessages && this.errorMessages.phone_number)
        }
      }
    }
  }
}
</script>
