.services-section
  background radial-gradient(102.87% 100% at 100% 0%, rgba($secondary, 0.92) 0%, $secondary 100%)
  color $white

.services-section__inner
  padding-bottom 197px

  +fbp(md)
    padding-bottom 150px

  +fbp(sm)
    padding-bottom 100px

  +fbp(xs)
    padding-bottom 60px

.service
  margin-bottom 200px

  +fbp(md)
    margin-bottom 150px

  +fbp(sm)
    margin-bottom 100px

  +fbp(xs)
    margin-bottom 50px

  &:last-child
    margin-bottom 0

.service--three-img
  position relative

  .service__text
    max-width 780px
    margin-left 200px
    position relative

    +fbp(md)
      margin-left 179px

    +fbp(sm)
      margin-left 122px

    +fbp(xs)
      margin-left 0

.service--img-left
.service--img-right
  display flex
  align-items center
  min-height 500px

  .service__images
    width 50%

  .service__image
    width 940px

  .service__text
    max-width 580px
    padding-bottom 0

    +fbp(sm)
      max-width 400px

    +fbp(xs)
      max-width none

  +fbp(md)
    min-height 400px

    .service__image
      width 747px

  +fbp(sm)
    min-height 300px

    .service__image
      width 566px

  +fbp(xs)
    display block
    min-height 0

    .service__image
      width 320px

    .service__images
      width 100%

.service--img-left
  .service__image
    right 54px

  +fbp(md)
    .service__image
      right 20px

  +fbp(sm)
    .service__image
      right 20px

  +fbp(xs)
    .service__image
      right auto
      left -15px

.service--img-right
  flex-direction row-reverse

  .service__image
    left 54px

  +fbp(md)
    .service__image
      left 20px

  +fbp(sm)
    .service__image
      left 20px

  +fbp(xs)
    .service__image
      left -15px

.service__images
  height 500px
  display flex
  position relative

  +fbp(md)
    height 400px

  +fbp(sm)
    height 300px

  +fbp(xs)
    height 200px
    margin-bottom 40px

.service__images--three-img
  margin-bottom 49px

.service__image
  position absolute
  height 500px
  width 555px
  top 0

  img
    abs100()
    objectFitCover()

  +fbp(md)
    height 400px

  +fbp(sm)
    height 300px

  +fbp(xs)
    height 200px

.service__text
  padding-bottom 50px
  position relative
  z-index 2

  +fbp(xs)
    padding-bottom 0

.service__title
  font-family $secondaryFont
  font-weight 600
  font-size 28px
  line-height 1.5
  margin-bottom 0.571429em
  text-transform uppercase
  color $white
  display block
  text-decoration none

  +fbp(sm)
    font-size 24px

  +fbp(xs)
    font-size 20px

a.service__title
  transition color 0.3s
  &:hover
    color $primary
