.form-section
  background radial-gradient(102.87% 100% at 100% 0%, rgba($secondary, 0.92) 0%, $secondary 100%)

  &.is-inview
    +fbp(xsAfter)
      .form-section__plane-img
        img
          transform translate(0, 0)

  .fp-scrollable
    // display flex
    // align-items center
    // justify-content center

  .fp-scroller
    width 100%

  .form-thank
    min-height 100vh

    +fbp(xs)
      min-height 0

.form-section__inner
  padding 120px 0
  position relative

  +fbp(xs)
    padding 40px 0

.form
  position relative
  z-index 2

.form-section__plane-img
  position absolute
  width 749px
  height 524px
  left 509px
  top 31px
  z-index 1

  img
    abs100()
    objectFitCover()

    +fbp(xsAfter)
      transition transform 3s
      transform translate(400px, -400px)

.form-section__container
  position relative
