<template lang="pug">
#app
  .page__layout
    info-block
    header-block.header--main
    main.main
      transition(name="router")
        nuxt

  cookie-bar
  alert
</template>

<script>
import { layoutMixin } from '@/mixins/layouts'
import config from '@/config'

export default {
  name: 'LayoutFullPage',

  head () {
    return {
      bodyAttrs: {
        class: `theme-${config.theme}`
      }
    }
  },

  mounted () {
    if (process.browser && typeof (window) !== 'undefined') {
      window.history.scrollRestoration = 'auto'
    }
  },

  mixins: [layoutMixin]
}
</script>
