.modal.alert
  box horizontal center center
  align-items center
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 10000
  background $black

  .theme-light &
    background $white

  .modal-header
    margin 0 0 20px

.alert-cont
  position relative
  max-width 600px
  min-width 300px
  padding 0 0 40px
  +below(640px)
    max-width 95vw

.alert__content
  color $primary
  margin 0 0 40px
  +below(768px)
    margin-bottom 20px
