<template lang="pug">
.alert-cont(v-if="open")
  modal(
    :class="'alert--' + mode"
    @close="close"
  )
    div(slot="body")
      .modal-header.h3(v-if="title" v-html="title")
      .modal-columns.alert__content(v-if="content")
        .html-content.text-center(v-html="content" :class="{ h3: !title }")

    div(slot="footer")
      .alert__buttons(:class="{'centered': mode === 'alert'}")
        .col(v-if="mode === 'confirm'")
          button.btn.btn--border(
            @click="close()"
          ) {{ $t('forms.buttons.cancel') }}

        .col
          button.btn.btn--border(
            @click="mode === 'confirm' ? confirm() : close()"
          ) {{ $t('forms.buttons.ok') }}
</template>

<script>
import eventHub from '../../../utils/eventHub'

export default {
  name: 'Alert',

  beforeDestroy () {
    eventHub.$off('global:alert', this.openAlert)
    eventHub.$off('global:confirm', this.openConfirm)
  },

  created () {
    eventHub.$on('global:alert', this.openAlert)
    eventHub.$on('global:confirm', this.openConfirm)
  },

  data () {
    return {
      confirmCallback: null,
      content: '',
      open: false,
      mode: 'alert',
      title: ''
    }
  },

  methods: {
    close () {
      this.open = false
    },

    confirm () {
      this.confirmCallback && this.confirmCallback()
      this.open = false
    },

    openAlert ({ title, content, i18n }) {
      this.mode = 'alert'
      this.open = true
      this.title = content ? title || '' : ''
      this.content = content || title || ''
      if (i18n) {
        this.title = this.$t(this.title)
        this.content = this.$t(this.content)
      }
    },

    openConfirm ({ title, content, callback }) {
      this.mode = 'confirm'
      this.open = true
      this.title = title || ''
      this.content = content || ''
      this.confirmCallback = callback || null
    }
  }
}
</script>
