<template lang="pug">
.page-cont
  section.schedule-hero(
    :style="{ backgroundImage: hero_image ? `url(${hero_image})` : null }"
  )
    .section__inner
      .container
        h1.schedule-hero__title(v-if="hero_title")
          div(v-html="hero_title")
        .schedule-hero__stats
          .schedule-hero__stats-item(v-if="hero_left_indicator_value && hero_left_indicator_text")
            span {{ hero_left_indicator_value }}
            p {{ hero_left_indicator_text }}

          .schedule-hero__stats-item(v-if="flights && flights.length && hero_right_indicator_text")
            span {{ flights.length }}
            p {{ hero_right_indicator_text }}

    .container(v-if="show_form")
      booking-form2(
        :flights="flights"
        @changeForm="changeSearchForm"
      )

  section.tickets-section
    .ticket-items#list(v-if="show_form && flights && flights.length")
      flight-row(
        v-for="flight in filteredFlights"
        :active-flight-id="activeFlight"
        :copy-button="form_copy_button"
        :email-title="form_sent_to_email"
        :flight="flight"
        :form-title="booking_form_title"
        :key="flight.id"
        :price-hint="form_price_hint"
        :share-button="form_share_button"
        :success-content="form_success_message_content"
        :success-title="form_success_message_title"
        @activate="activateFlight"
      )
      .container.ticket-item__container(v-if="!filteredFlights.length")
        h3 {{ flights_not_found_text || $t('booking.flightsNotFound') }}

    .tickets-not-found-container(v-if="show_call_to_action")
      .container
        .tickets-not-found
          .tickets-not-found__start
            .tickets-not-found__title(
              v-if="call_to_action_title"
              v-html="call_to_action_title"
            )

          .tickets-not-found__end
            button.btn.btn--secondary(
              type="button"
              @click="showModal = true"
            ) {{ call_to_action_button_caption }}

  section.section.comfortable-way(v-if="show_sections")
    .container.comfortable-way__container
      .section-heading.section-heading--white.section-heading--mb-md.comfortable-way__heading
        h2.section-heading__title.section-heading__title--large.services-section__title(
          v-if="sections_title"
        )
          div(v-html="sections_title")

      .comfortable-way__cols-wrap
        .comforable-way__lines(
          v-observe-visibility="visibilityChanged"
        )
          span
          span

        .comfortable-way__cols(v-if="sections && sections.length")
          .comfortable-way__col-start
            jetsharing-section-row(:section="sections[0]")

          .comfortable-way__col-end(v-if="sections.length > 1")
            jetsharing-section-row(
              v-for="section in sections.slice(1)"
              :key="section.id"
              :section="section"
            )

  section.section.years-section.info-img-section(v-if="show_about")
    .section__inner.years-section__inner
      .container
        .section-heading
          h2.section-heading__title.section-heading__title--large(v-if="about_title")
            div(v-html="about_title")

        .html-block.years-section__text(
          v-if="about_content"
          v-html="about_content"
        )

        .years-section__img(
          v-observe-visibility="visibilityChanged"
          v-if="about_image"
        )
          img(:src="about_image" alt="")
          .years-section__img-crop

    .we-are-best
      .container
        .we-are-best__title(v-if="about_slogan") {{ about_slogan }}
        .we-are-best__items(v-if="features && features.length")
          .we-are-best__item(
            v-for="feature in features"
            :key="feature.id"
          )
            .we-are-best__item-icon(v-if="feature.image")
              img(:src="feature.image" alt="")
            p(v-if="feature.title") {{ feature.title }}

  footer-block(
    blue
    :partners="partners && partners.length && show_partners ? partners : null"
    :partners-title="partners_title"
  )

  modal.modal--form(
    v-show="showModal"
    @close="closeModal"
  )
    div(slot="body")
      user-reg-form.is-inview(
        :bg="form_bg"
        :bg-double="form_bg_2x"
        :copy-button="form_copy_button"
        :email-title="form_sent_to_email"
        :share-button="form_share_button"
        :subtitle="form_subtitle"
        :success-content="form_success_message_content"
        :success-title="form_success_message_title"
        :title="form_title"
      )
</template>

<script>
import { visibilityMixin } from '@/mixins/visibility'
import { pageMixin } from '@/mixins/pages'
import { fullpageMixin } from '@/mixins/fullpage'
import { fetchPage } from '@/utils/asyncPages'
import API from '../api'
import FlightRow from '@/components/jetsharing/flight-row/flight-row'
import JetsharingSectionRow from '@/components/jetsharing/section-row/section-row'
import { renderAirport } from '@/components/forms/booking-form/utils'

export default {
  name: 'JetSharingPage',

  async asyncData ({ app, error }) {
    const result = await fetchPage(app, error, API.jetsharing.jetsharingPage())
    result.flights.forEach(f => {
      f.airport_origin.renderText = renderAirport(f.airport_origin)
      f.airport_destination.renderText = renderAirport(f.airport_destination)
    })
    return result
  },

  components: {
    FlightRow,
    JetsharingSectionRow
  },

  computed: {
    filteredFlights () {
      if (!this.flights || !this.flights.length) {
        return []
      }

      let flights = this.flights.slice()
      const flightConf = this.searchForm.flight
      if (flightConf.flight_type.length) {
        flights = flights.filter(f => !f.flight_type || flightConf.flight_type.indexOf(f.flight_type) >= 0)
      }

      if (flightConf.flight_date) {
        const day = flightConf.flight_date.getDate()
        const month = flightConf.flight_date.getMonth()
        const year = flightConf.flight_date.getFullYear()
        flights = flights.filter(f => {
          const fDate = new Date(f.origin_datetime)
          return day === fDate.getDate() && month === fDate.getMonth() && year === fDate.getFullYear()
        })
      }

      if (flightConf.origin_text) {
        flights = this.filterFlightsByAirport(flights, 'airport_origin', flightConf.origin_text)
      }

      if (flightConf.destination_text) {
        flights = this.filterFlightsByAirport(flights, 'airport_destination', flightConf.destination_text)
      }

      return flights
    }
  },

  data () {
    return {
      activeFlight: null,
      searchForm: {
        flight: {
          origin: null,
          origin_text: null,
          destination: null,
          destination_text: null,
          flight_date: null,
          flight_type: []
        }
      },
      showModal: false
    }
  },

  layout: 'white-header-no-footer',

  methods: {
    activateFlight (flightId) {
      this.activeFlight = flightId
    },

    closeModal () {
      this.showModal = false
    },

    changeSearchForm (form) {
      this.searchForm.flight = form
    },

    filterFlightsByAirport (flights, airportField, query) {
      return flights.filter(f => {
        return f[airportField].renderText.toLowerCase().indexOf((query || '').toLowerCase()) >= 0
      })
    }
  },

  mixins: [pageMixin, fullpageMixin, visibilityMixin]
}
</script>
