<template lang="pug">
.ticket-item(
  :class="{ 'is-active': isActive }"
)
  .container.ticket-item__container(v-once)
    .ticket-item__start
      .ticket-item__from
        .ticket-item__date {{ flight.origin_datetime | date('d MMMM yyyy, iiiiii', locale) }}
        .ticket-item__place {{ flight.airport_origin.city ? flight.airport_origin.city.title : '' }}
        .ticket-item__place-detail
          | {{ flight.airport_origin.title || '' }}{{ flight.airport_origin.title && flight.airport_origin.code ?  ', ' : '' }}{{ flight.airport_origin.code || '' }}
        .ticket-item__time {{ flight.origin_datetime | date('p', locale) }}

      .ticket-item__airplane
        .ticket-item__flight-time(v-if="flight.flight_duration") {{ flight.flight_duration | duration(locale) }}
        .ticket-item__flight-name {{ flight.plane_model || '' }}

      .ticket-item__to
        .ticket-item__date {{ flight.destination_datetime | date('d MMMM yyyy, iiiiii', locale) }}
        .ticket-item__place {{ flight.airport_destination.city ? flight.airport_destination.city.title : '' }}
        .ticket-item__place-detail
          | {{ flight.airport_destination.title || '' }}{{ flight.airport_destination.title && flight.airport_destination.code ?  ', ' : '' }}{{ flight.airport_destination.code || '' }}
        .ticket-item__time {{ flight.destination_datetime | date('p', locale) }}

    .ticket-item__end
      dl.ticket-item__places(v-if="flight.free_seats")
        dt {{ $t('booking.freeSeats') }}
        dd {{ flight.free_seats }} / {{ flight.total_seats }}

      dl.ticket-item__price(v-if="flight.price")
        dt {{ $t('booking.price') }}
          span.info-tooltip ?
            span.info-tooltip__text(
              v-if="flight.form_price_hint || priceHint"
              v-html="flight.form_price_hint || priceHint"
            )
        dd {{ flight.price | intcomma(true) }} €

      button.btn(
        type="button"
        @click="showForm"
      )
        span {{ $t('forms.buttons.book') }}
        span {{ $t('forms.buttons.cancel') }}

  flight-booking(
    v-if="isActive"
    :copy-button="copyButton"
    :email-title="emailTitle"
    :flight="flight"
    :form-title="formTitle"
    :max-seats="flight.free_seats || 1"
    :share-button="shareButton"
    :success-content="successContent"
    :success-title="successTitle"
  )
</template>

<script>
import { date, duration, intcomma } from '@/filters'
import { mapState } from 'vuex'

export default {
  name: 'FlightRow',

  computed: {
    ...mapState({ locale: state => state.locale })
  },

  data () {
    return {
      isActive: false
    }
  },

  filters: { date, duration, intcomma },

  methods: {
    showForm () {
      this.isActive = !this.isActive
      this.$emit('activate', this.flight.id)
    }
  },

  props: {
    activeFlightId: {
      type: [Number, null],
      required: false,
      default: null
    },
    copyButton: {
      type: [String, null],
      required: false,
      default: null
    },
    emailTitle: {
      type: [String, null],
      required: false,
      default: null
    },
    flight: {
      type: Object,
      required: true
    },
    formTitle: {
      type: [String, null],
      reqiured: false,
      default: null
    },
    priceHint: {
      type: [String, null],
      required: false,
      default: null
    },
    shareButton: {
      type: [String, null],
      required: false,
      default: null
    },
    successContent: {
      type: [String, null],
      required: false,
      default: null
    },
    successTitle: {
      type: [String, null],
      required: false,
      default: null
    }
  },

  watch: {
    activeFlightId (newVal) {
      this.isActive = newVal === this.flight.id
    }
  }
}
</script>
