.pagination
  display flex
  margin 0 -10px
  justify-content center
  padding-top 60px

  +fbp(xs)
    padding-top 20px

.pagination__item
  margin 0 10px

  span
  a
    display block
    width 50px
    height 50px
    background-color $primary
    line-height 50px
    text-align center
    font-weight 500
    font-size 16px
    color $white
    user-select none
    cursor pointer
    transition background-color 0.3s

    &:hover
      background-color $secondary

    &.is-active
        background-color $secondary6
        color $textColor
        cursor default
