<template lang="pug">
section.section.years-section
  .section__inner.years-section__inner
    .container
      .section-heading.years-section__heading
        h2.section-heading__title.section-heading__title--large.years-section__title
          span(v-if="indicator") {{ indicator }}
          div(v-if="title" v-html="title")

      .html-block.years-section__text(
        v-if="content"
        v-html="content"
      )

      .years-section__img(
        v-if="image"
        v-observe-visibility="visibilityChanged"
      )
        img(:src="image" alt="")
        .years-section__img-crop
</template>

<script>
import { visibilityMixin } from '@/mixins/visibility'
import objectFitImages from 'object-fit-images'

export default {
  name: 'YearsSection',

  mounted () {
    objectFitImages()
  },

  mixins: [visibilityMixin],

  props: {
    content: {
      type: [String, null],
      required: false,
      default: null
    },
    image: {
      type: [String, null],
      required: false,
      default: null
    },
    indicator: {
      type: [String, Number, null],
      required: false,
      default: null
    },
    title: {
      type: [String, null],
      required: false,
      default: null
    }
  }
}
</script>
