<template lang="pug">
.flight-widget
  .flight-widget__title(
    v-if="title"
    v-html="title"
  )

  form.flight-widget-form(
    autocomplete="off"
    @submit.prevent="submit"
    v-if="!successMessage"
  )
    .flight-widget-form__inputs(
      v-click-outside="hideDropdown"
    )
      .flight-widget-form__single(
        v-for="(flight, flightIndex) in form.flights"
        :key="flightIndex"
      )
        .flight-widget-form__item.icon-plane_up(
          :class="{ 'is-filled': form.flights[flightIndex].destination, 'is-focus': showCountriesDestination && (dropdownIndex === flightIndex) }"
        )
          transition(name="fade")
            .flight-widget-form__dropdown(
              :class="{ 'is-active': showCountriesDestination }"
              v-show="showCountriesDestination && dropdownIndex === flightIndex"
            )
              //
                .flight-widget-form__list-container.flight-widget-form__list-container--countries
                  ul.flight-widget-form__list.flight-widget-form__list--countries
                    li(
                      v-for="(item, i) in airports"
                      // :key="i"
                      @click="selectAirportDestination(flightIndex, item.airport)"
                    )
                      span {{ item.airport }}
                      img(:src="item.flag")

          .flight-widget-form__placeholder Куда
          .flight-widget-form__input
            input(
              type="text"
              @focus="inputFocus($event, 'destination', flightIndex)"
              @blur="inputBlur($event)"
              v-model="form.flights[flightIndex].destination"
              name="destination"
            )
          button.flight-widget-form__input-clear.icon-close(
            type="button"
            v-if="form.flights[flightIndex].destination"
            @click="form.flights[flightIndex].destination = null"
          )
        .flight-widget-form__item.icon-plane_down(
          :class="{ 'is-filled': form.flights[flightIndex].departure, 'is-focus': showCountriesDeparture && (dropdownIndex === flightIndex) }"
        )
          transition(name="fade")
            .flight-widget-form__dropdown(
              :class="{ 'is-active': showCountriesDeparture }"
              v-show="showCountriesDeparture && dropdownIndex === flightIndex"
            )
              //
                .flight-widget-form__list-container.flight-widget-form__list-container--countries
                  ul.flight-widget-form__list.flight-widget-form__list--countries
                    li(
                      v-for="(item, i) in airports"
                      // :key="i"
                      @click="selectAirportDeparture(flightIndex, item.airport)"
                    )
                      span {{ item.airport }}
                      img(:src="item.flag")

          .flight-widget-form__placeholder Вылет из
          .flight-widget-form__input
            input(
              type="text"
              @focus="inputFocus($event, 'departure', flightIndex)"
              @blur="inputBlur($event)"
              v-model="form.flights[flightIndex].departure"
              name="departure"
            )
          button.flight-widget-form__input-clear.icon-close(
            type="button"
            v-if="form.flights[flightIndex].departure"
            @click="form.flights[flightIndex].departure = null"
          )
        .flight-widget-form__item.flight-widget-form__item--date.icon-calendar(
          :class="{ 'is-filled': form.flights[flightIndex].date }"
        )
          .flight-widget-form__placeholder Дата выезда
          client-only
            date-picker.flight-widget-form__input(
              format="D MMM, dd"
              language="ru"
              :monday-first="true"
              :disabled-dates="disabledDates"
              maximum-view="day"
              @opened="datepickerOpened(flightIndex)"
              @closed="datepickerClosed(flightIndex)"
              v-model="form.flights[flightIndex].date"
              :ref="'datepicker' + flightIndex"
            )
          button.flight-widget-form__input-clear.icon-close(
            type="button"
            v-if="form.flights[flightIndex].date"
            @click="form.flights[flightIndex].date = null"
          )
        button.flight-widget-form__delete-row.icon-close(
          type="button"
          v-if="flightIndex > 0"
          @click="removeRow(flightIndex)"
        )
      button.btn.flight-widget-form__button(
        type="button"
        @click="showForm = true"
      ) Далее

  transition(name="fade")
    .flight-widget-form__body(v-if="showForm && !successMessage")
      .form__title Ваши данные
      .form__cols
        .form__col
          .form-item.form-item--light.icon-user(
            :class="{ 'has-error': $v.form.name.$dirty && $v.form.name.$invalid }"
          )
            span.form-item__error(v-if="$v.form.name.$dirty && $v.form.name.$invalid") {{ $t('forms.errors.required') }}
            input.form-field(
              type="text"
              name="name"
              v-model="form.name"
              maxlength="255"
              placeholder="Имя *"
            )

        .form__col
          .form-item.form-item--light.icon-user(
            :class="{ 'has-error': $v.form.lastname.$dirty && $v.form.lastname.$invalid }"
          )
            span.form-item__error(v-if="$v.form.lastname.$dirty && $v.form.lastname.$invalid") {{ $t('forms.errors.required') }}
            input.form-field(
              type="text"
              name="lastname"
              v-model="form.lastname"
              maxlength="255"
              placeholder="Фамилия *"
            )

        .form__col
          .form-item.form-item--light.icon-phone(
            :class="{ 'has-error': $v.form.phone_number.$dirty && $v.form.phone_number.$invalid }"
          )
            span.form-item__error(v-if="$v.form.phone_number.$dirty && $v.form.phone_number.$invalid") {{ $t('forms.errors.required') }}
            input.form-field(
              type="tel"
              name="phone_number"
              v-mask="'+###########'"
              v-model="form.phone_number"
              maxlength="18"
              pattern="[0-9]*"
              placeholder="Номер телефона *"
            )

        .form__col
          .form-item.form-item--light.icon-email(
            :class="{ 'has-error': $v.form.email.$dirty && $v.form.email.$invalid }"
          )
            span.form-item__error(v-if="$v.form.email.$dirty && $v.form.email.$invalid") {{ $t('forms.errors.required') }}
            input.form-field(
              type="email"
              name="email"
              v-model="form.email"
              maxlength="254"
              placeholder="E-mail *")

      label.form__accept.checkbox.checkbox--light
        input(type="checkbox" name="accept" v-model="agree")
        span Я согласен на
          |
          | обработку персональных данных
          // nuxt-link(to="/") обработку персональных данных

      .form__submit
        button.btn(type="button" :disabled="!agree" @click.prevent="submit") Отправить

    .flight-widget-thank.form-thank(
      v-if="successMessage"
    )
      .form-thank__close(@click="successMessage = null") Закрыть
      div
        .form-thank__svg
        .form-thank__title Спасибо!
        .form-thank__descr Запрос принят. Мы свяжемся с Вами в ближайшее время <br>Поделись ссылкой со знакомыми и начни зарабатывать
        .share-link
          .share-link__input-wrap
            .share-link__icon.icon-link
            .share-link__input
              .form-item.form-item--light
                input.form-field.form-field--sm.readonly(
                  type="text"
                  value="www.jetunity.net/brokers?r=8moty2kofR"
                  readonly
                  ref="refInput"
                )

          .share-link__buttons
            button.btn.btn--sm.btn--simple(
              type="button"
              @click="copyStringToClipboard"
            ) Скопировать
            button.btn.btn--sm.btn--simple.btn--secondary2(
              type="button"
            ) Поделиться

        .form-thank__send-link Мы также  отправили письмо с партнерской ссылкой на твой e-mail
        .form-thank__social-title Следите за нами в соц. сетях

        socials(classes="form-thank__socials")

  .flight-widget__add-more(
    @click="addMore"
  ) Добавить еще рейс
</template>

<script>
import 'moment/locale/ru'
import ClickOutside from 'vue-click-outside'
import PerfectScrollbar from 'perfect-scrollbar'
import API from '../../../api'
import { formMixin } from '../../../mixins/forms'
import { validationMixin } from 'vuelidate'
import { email } from '../../../utils/validators'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'FlightWidget',

  directives: { ClickOutside },

  data () {
    return {
      disabledDates: {
        to: new Date(Date.now() - 8640000)
      },
      showForm: false,
      agree: true,
      errorMessages: null,
      submitting: false,
      successMessage: false,
      form: {
        email: null,
        name: null,
        lastname: null,
        phone_number: null,
        flights: [
          {
            departure: null,
            destination: null,
            date: null
          }
        ]
      },
      airports: [
        {
          airport: 'Любой аэропорт, Москва, Россия',
          flag: '/images/flag_russia.svg'
        },
        {
          airport: 'Внуков, Москва, Россия',
          flag: '/images/flag_russia.svg'
        },
        {
          airport: 'Шереметьево, Москва, Россия',
          flag: '/images/flag_russia.svg'
        },
        {
          airport: 'Домодедово, Москва, Россия',
          flag: '/images/flag_russia.svg'
        },
        {
          airport: 'Остафьево, Москва, Россия',
          flag: '/images/flag_russia.svg'
        },
        {
          airport: 'Внуков, Москва, Россия',
          flag: '/images/flag_russia.svg'
        },
        {
          airport: 'Шереметьево, Москва, Россия',
          flag: '/images/flag_russia.svg'
        },
        {
          airport: 'Домодедово, Москва, Россия',
          flag: '/images/flag_russia.svg'
        },
        {
          airport: 'Остафьево, Москва, Россия',
          flag: '/images/flag_russia.svg'
        }
      ],
      activeCountry: null,
      showCountriesDestination: false,
      showCountriesDeparture: false,
      citiesDropdownOpened: false,
      countryHovered: false,
      psCountries: [],
      psCities: []
    }
  },

  methods: {
    initCounriesScrollbar () {
      const customScrollbar = document.querySelectorAll('.flight-widget-form__list--countries')

      if (customScrollbar.length && !this.psCountries.length) {
        [...customScrollbar].forEach(el => {
          this.psCountries.push(new PerfectScrollbar(el))
        })
      }
      if (this.psCountries && this.psCountries.length) {
        [...this.psCountries].forEach(el => {
          el.update()
          window.dispatchEvent(new Event('resize'))
        })
      }
    },

    initCitiesScrollbar () {
      const customScrollbar = document.querySelectorAll('.flight-widget-form__list--cities')

      if (customScrollbar.length && !this.psCities.length) {
        [...customScrollbar].forEach(el => {
          this.psCities.push(new PerfectScrollbar(el))
        })
      }
      if (this.psCities && this.psCities.length) {
        [...this.psCities].forEach(el => {
          el.update()
          window.dispatchEvent(new Event('resize'))
        })
      }
    },

    hideCitiesDropdownDeparture () {
      this.showCountriesDeparture = false
    },

    hideCitiesDropdownDestination () {
      this.showCountriesDestination = false
    },

    inputFocus (e, type, index) {
      e.target.closest('.flight-widget-form__item').classList.add('is-focus')

      this.dropdownIndex = index

      setTimeout(() => {
        this.initCounriesScrollbar()
      }, 10)

      if (type === 'destination') {
        this.showCountriesDestination = true
      }

      if (type === 'departure') {
        this.showCountriesDeparture = true
      }
    },

    inputBlur (e) {
      e.target.closest('.flight-widget-form__item').classList.remove('is-focus')
      this.showCountriesDestination = false
      this.showCountriesDeparture = false
    },

    datepickerOpened (index) {
      const refName = 'datepicker' + index
      this.$refs[refName][0].$el.closest('.flight-widget-form__item--date').classList.add('is-focus')
    },

    datepickerClosed (index) {
      const refName = 'datepicker' + index
      this.$refs[refName][0].$el.closest('.flight-widget-form__item--date').classList.remove('is-focus')
    },

    addMore () {
      this.form.flights.push(
        {
          departure: null,
          destination: null,
          date: null
        }
      )
    },

    removeRow (index) {
      this.form.flights.splice(index, 1)
    },

    hideDropdown () {
      this.hideCitiesDropdownDeparture()
      this.hideCitiesDropdownDestination()

      this.countryHovered = false

      if (process.browser && typeof (window) !== 'undefined') {
        if (window.innerWidth > 767) {
          this.activeCountry = null
        }
      }
    },

    selectAirportDestination (index, item) {
      this.form.flights[index].destination = item
      this.hideDropdown()
    },

    selectAirportDeparture (index, item) {
      this.form.flights[index].departure = item
      this.hideDropdown()
    },

    copyStringToClipboard () {
      const str = this.$refs.refInput.value
      const el = document.createElement('textarea')
      el.value = str
      el.setAttribute('readonly', true)
      el.style.cssText = 'position: absolute; left: -9999px'
      document.body.appendChild(el)
      el.select()
      document.execCommand('copy')
      document.body.removeChild(el)
    },

    submit () {
      if (this.submitting) {
        return false
      }

      this.errorMessages = null
      this.$v.$touch()
      if (this.$v.$invalid) {
        return false
      }

      this.submitting = true
      const vm = this
      this.$axios.post(API.forms.partnership(), Object.assign({}, this.form, { url: this.$route.fullPath }))
        .then(response => {
          this.successMessage = response.data.detail
          Object.keys(vm.form).forEach(k => {
            if (Object.prototype.hasOwnProperty.call(vm.form, k)) {
              vm.form[k] = null
            }
          })
          vm.form.flights = [
            {
              departure: null,
              destination: null,
              date: null
            }
          ]
          vm.$v.form.$reset()
          vm.$emit('submitted', response)
        })
        .catch(error => vm.parseFormErrors(error))
        .then(() => { vm.submitting = false })
    }
  },

  mixins: [formMixin, validationMixin],

  props: {
    title: {
      type: [String, null],
      required: false,
      default: null
    }
  },

  validations: {
    form: {
      email: {
        email,
        required,
        fromServer (value) {
          if (value === null) return true
          return !(this.errorMessages && this.errorMessages.email)
        }
      },

      name: {
        required,
        fromServer (value) {
          if (value === '') return true
          return !(this.errorMessages && this.errorMessages.name)
        }
      },

      lastname: {
        required,
        fromServer (value) {
          if (value === '') return true
          return !(this.errorMessages && this.errorMessages.lastname)
        }
      },

      phone_number: {
        required,
        fromServer (value) {
          if (value === '') return true
          return !(this.errorMessages && this.errorMessages.phone_number)
        }
      }
    }
  }
}
</script>
