<template lang="pug">
.select(:class="{expanded: isShown}")
  .select__open(
    :class="{ 'is-active': value !== null }"
    @click="toggle()"
    v-click-outside="hide"
    ref="btn"
  )
    span {{ caption }}
  transition(name="fade")
    ul.dropdown(v-show="isShown" ref="dropdown")
      li.placeholder(v-if="placeholder && value")
        .item(@click="selectOption(null)") {{ placeholder }}
      li(v-for="option in options", :class="{selected: option.value === value}" v-if="option.value !== value")
        .item(@click="selectOption(option)") {{ option.text }}
</template>

<script>
import ClickOutside from 'vue-click-outside'
import PerfectScrollbar from 'perfect-scrollbar'

export default {
  name: 'Dropdown',

  computed: {
    caption () {
      if (this.value != null) {
        const option = this.options.find(o => o.value === this.value)
        return option ? option.text : ''
      }
      return this.placeholder || ''
    }
  },

  created () {
    if (this.initial) {
      this.value = this.initial
    }
  },

  data () {
    return {
      isShown: false,
      value: null,
      ps: null
    }
  },

  directives: { ClickOutside },

  methods: {
    hide () {
      if (this.isShown) {
        this.isShown = false
        this.$refs.dropdown.classList.remove('dropdown--top')
        this.$refs.dropdown.style.height = 'auto'
      }
    },

    selectOption (option) {
      if (option === null && !this.nullable) {
        return
      }

      this.value = option === null ? null : option.value
      this.$emit('change', this.value)
      this.$refs.btn.blur()
    },

    dropdownPosition () {
      const windowHeight = window.innerHeight
      const height = this.$refs.dropdown.getBoundingClientRect().height
      const top = this.$refs.dropdown.getBoundingClientRect().top

      if ((height + top) > (windowHeight - 10)) {
        if ((windowHeight - top - 10) > 120) {
          this.$refs.dropdown.style.height = windowHeight - top - 10 + 'px'
        } else {
          this.$refs.dropdown.style.height = 120 + 'px'
        }
      }
    },

    toggle () {
      this.isShown = !this.isShown

      setTimeout(() => {
        if (this.isShown) {
          this.dropdownPosition()
          this.ps.update()
        } else {
          setTimeout(() => {
            this.$refs.dropdown.style.height = 'auto'
          }, 300)
        }
      }, 10)
    }
  },

  mounted () {
    this.ps = new PerfectScrollbar(this.$refs.dropdown)
  },

  props: {
    initial: {
      required: false
    },
    nullable: {
      type: Boolean,
      required: false,
      default: true
    },
    options: {
      type: Array,
      required: true
    },
    placeholder: {
      type: [String, null],
      required: false
    }
  },

  watch: {
    initial (newVal) {
      this.value = newVal
    }
  }
}
</script>
