@font-face
  font-family 'fontello'
  src url('/fonts/fontello.eot?44224264')
  src url('/fonts/fontello.eot?44224264#iefix') format('embedded-opentype'),
  url('/fonts/fontello.woff2?44224264') format('woff2'),
  url('/fonts/fontello.woff?44224264') format('woff'),
  url('/fonts/fontello.ttf?44224264') format('truetype'),
  url('/fonts/fontello.svg?44224264#fontello') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"]:before,
[class*=" icon-"]:before
  font-family 'fontello'
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration inherit
  width 1em
  text-align center
  font-variant normal
  text-transform none
  line-height 1em
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.icon-facebook:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-odnoklassniki:before { content: '\e802'; } /* '' */
.icon-vk:before { content: '\e803'; } /* '' */
.icon-vector:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-plane_down:before { content: '\e806'; } /* '' */
.icon-plane_up:before { content: '\e807'; } /* '' */
.icon-email:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-close:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e818'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
